<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h4>About Us</h4>
          <p>We have vision to make a platform for all restaurant owners and foodies to come together.Get your best fit restaurant here.Our websit is destination for all things related to food and dining.</p>
        </div>
        <div class="col-md-4">
          <h4>Contact Us</h4>
          <ul>
            <li><i class="fa fa-phone"></i> 8010066062</li>
            <li><i class="fa fa-envelope"></i> pratikchavan470@gmail.com</li>
          </ul>
        </div>
        <div class="col-md-12">
          <h4>Follow Us</h4>
          <ul class="social-media-links">
            <li><a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#" class="twitter"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#" class="linkedin"><i class="fab fa-linkedin-in"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  